// Colores de backgrounds
$background-generic: #052641;
$background-red: #dd5757;

// Colores de fuentes
$font-color-alternative: #2d2d2d;
$font-color-light: #ffff;
$font-color-generic: #052641;
$font-color-grey: #eeeeee;

// Colores botones

$btn-selected: #ec9f57;
$btn-correct: #54ec29;
$btn-wrong: #f42a2a;
