@import "../../../styles/variables.scss";
@import "../../../styles/media-queries.scss";
.game-main-info {
  &__detail {
    background-color: $background-generic;
    color: $font-color-light;
    margin: 0;
    padding: 20px;
    @include for-tablet-portrait-up {
      display: flex;
      flex-direction: row;
      align-items: start;
      justify-content: center;
    }
  }
  &__title {
    padding: 15px 0px;
    margin: 0px;
    font-weight: 700;
    font-size: 24px;
    color: $font-color-light;
  }
  &__detail--title {
    padding: 15px 0px;
    margin: 0px;
    font-weight: 700;
    font-size: 24px;
    color: $font-color-light;
    @include for-tablet-portrait-up {
      padding: 15px 0px;
      font-weight: 700;
      font-size: 24px;
    }
  }
  &__img {
    border-radius: 10px;
    width: 250px;
  }
  &__box-1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__box-2 {
    padding: 0px 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include for-tablet-portrait-up {
      margin-left: 20px;
    }
  }

  &__main-info {
    display: flex-start;
    flex-wrap: wrap;
    align-items: center;

    margin-top: -10;
  }

  &__release-date {
    margin-top: 0;
  }

  &__genre {
    margin-top: 0;
  }
  &__time {
    margin-top: 0;
  }
}
